<%- include('../partials/head'); %>
<body class="container">

    <header style="padding-bottom: 2em;">
        <%- include('../partials/header'); %>
    </header>

    <div class="container">
        <%- include('../partials/Carq'); %>
    </div>

    <div class="container">
        <%- include('../partials/Cing'); %>    
    </div>
        
    <%- include('../partials/footer'); %>

